In [1]:
# %%
import pandas as pd

In [2]:
df = pd.read_csv('cart.csv', parse_dates=['date'])
df

        date    name  amount  price
0 2021-03-01  carrot       7   5.73
1 2021-03-01     egg      12   1.70
2 2021-03-01     egg      12   1.20
3 2021-03-01    milk       1   3.57
4 2021-03-02  potato       3   2.17
5 2021-03-02  potato       3   2.17

In [3]:
# %%
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [4]:
# %%
df.duplicated(['date', 'name'])

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool